.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}

/* .main{ 
  display: flex;
}*/

.header{
  width: 400px;
  height: 100px;
  background-color: red;
}

.left{
  width: 150px;
  height: 250px;
  background-color: aqua;
  float: left;
}

.right{
  width: 250px;
  height: 250px;
  background-color: blue;
  float: left;
}

.footer{
  width: 400px;
  height: 100px;
  background-color: blanchedalmond;
}

@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
  .header{
    width: 250px;
  }
  .right{
    width: 100px;
  }
  .footer{
    width: 250px;
  }
}

@media screen and (max-width: 479px) {
  .header{
    width: 150px;
  }
  .left{
    float: none;
  }
  .right{
    width: 150px;
    float: none;
  }
  .footer{
    width: 150px;
  }
}